body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(../images/translucent-image.png); */
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.container_2 {
    max-width: 1300px;
    width: 98%;
    margin: 0 auto;
}

:root {
    --title: #538ffc;
    --_blue: rgb(1, 56, 186);
    --black_blue: #031c3a;
    --light_gray: #8f8f8f;
}
.h100{
    height: 170px;
}
nav {
    z-index: 3;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #053979;
}

.nav_row {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_col1 {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.nav_h1 {
    color: #ebf3fd;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .8px;
}

.gerb {
    width: 70px;
}

.nav_col2 {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.flag {
    width: 40px;
}

.nav_block {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;

}

.nav_title {
    color: rgb(195, 215, 252);
    font-size: 14px;
}

.nav_title:hover {
    color: white;
}

.white {
    color: white;
}

.nav2 {
        top: 94px;
        width: 100%;
        position: fixed;
        background-color: #2E5AA8;
}

.link_row {
    padding: 10px 0;
    position: relative;
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.link_row a {
    font-size: 16px;
    text-decoration: none;
    color: #ecf0f1;
    transition: .2s;
}

.link_row a:hover{
    color: #c9c9c9;
}

.link_block1 {
    position: absolute;
    display: none;
    padding: 20px 20px;
    left: 90px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 25px;
    top: 30px;
    background-color: #2E5AA8;
}

.link_block2 {
    position: absolute;
    display: none;
    padding: 20px 20px;
    left: 440px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 25px;
    top: 30px;
    background-color: #2E5AA8;
}

.link1:hover .link_block1 {
    display: flex;
}

.link2:hover .link_block2 {
    display: flex;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 rgb(255, 255, 255);
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 30px 0 20px 40px;
    margin: 0;
    background: #2E5AA8;
    list-style-type: none;
    transform: translateX(-1000%);
    transition: .3s;
    width: 250px;
}

.menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: start;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.2)
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}


.link_blockk1 {
    display: none;  /* Скрыто по умолчанию */
    padding-top: 20px;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
    transition: max-height 0.3s ease; /* Плавное раскрытие */
    max-height: 0;
  }
  
  .menu-item.active .link_blockk1 {
    display: flex;
    max-height: 500px;  /* Установим достаточно большую высоту для анимации */
    animation: burger .3s ease-in-out forwards;
  }

  .link_blockk2 {
    display: none;  /* Скрыто по умолчанию */
    padding-top: 20px;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
  }
  
  .okmot1 .link_blockk2 {
    max-height: 500px;
    display: flex; /* Показываем блок, когда элемент открыт */
    animation: burger .3s ease-in-out forwards;
  }


  @keyframes burger {
    0%{
        max-height: 0px;
    }
    100%{
        max-height: 500px;
    }
}
.burger{
    display: none;
}

.nav_col22{
    display: none;
}
.load {
    display: block;
    margin: 60px auto;
    width: 60px; /* Ensure the image is responsive */
}
.home_row{
    display: flex;
    column-gap: 20px;
    padding-bottom: 20px;
}
.home_col1{
    border-radius: 10px;
    padding: 0 0 0 20px;
}
.glava img{
    width: 310px;
}
.glava_title{
    text-align: start;
    font-weight: 600;
    padding: 0 0 10px 0;
    font-size: 22px;
    color: var(--title);
}
.glava_name{
    background-color: #2E5AA8;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    row-gap: 10px;
    flex-direction: column;
}
.glava_block{
    text-align: center;
    justify-content: center;
    display: flex;
    column-gap: 10px;
}


.home_title{
    color: var(--title);
    font-size: 18px;
    float: right;
    font-weight: 600;
}

.home_row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Адаптивные столбцы */
    gap: 15px; /* Отступы между элементами */
}

.home_item{
    width: 100%;
}

.home_image img{
    height: 130px;
    object-fit: cover;
    width: 100%;
    padding-bottom: 10px;
}

.home_block1{
    display: flex;
}
.home_col3{
    text-align: center;
    display: flex;
}
.home_num{
    font-size: 25px;
    color: var(--title);
}
.home_num1{
    color: #8f8f8f;
    text-align: center;
}
.home_title2{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
    cursor: pointer;
}
.home_title2:hover{
    color: var(--title);
}
.date-container {
    padding: 0 10px 0 0;
    text-align: center; /* Центрирование текста */
}

.date-number {
    font-size: 25px; /* Размер шрифта для цифры */
    font-weight: bold; /* Жирный шрифт для цифры */
    color: #4285f4; /* Цвет текста (например, синий) */
}

.date-month {
    display: block; /* Блоковый элемент для размещения на отдельной строке */
    font-size: 12px; /* Размер шрифта для месяца */
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    color: gray; /* Серый цвет */
}

.date-year {
    display: block; /* Блоковый элемент для новой строки */
    font-size: 12px; /* Размер шрифта для года */
    font-weight: 500;
    color: gray; /* Серый цвет */
}

.home_titl2{
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
    margin-top: 2.5px;
}